<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chains</title>
    <link rel="stylesheet" th:href="@{/css/products/chains.css}"/>
</head>
<body style="text-align: center;background-color:#f7f3f3;">
<div th:each="category : ${categories}">
    <h2 th:text="${category.getTag().getText()}"></h2>
    <div class="scrollableChainCategory">
        <div class="chainBox" th:each="chain : ${category.getChainAndImage()}">
            <img th:src="${chain.getSecond()}" th:alt="${chain.getFirst().getText()}" width="200" height="200">
            <a th:href="@{/productlist/?chain=__${chain.getFirst().getUrlSegment()}__}" th:text="${chain.getFirst().getText()}"></a>
        </div>
    </div>
</div>
</body>
</html>