.star {
  color: #722F37;
}

.content {
    text-align: center;
}

h1,h2 {
    color: #722F37;
}

p, span, h4 {
    color: #A83731
}

.white-background {
    background-color: #FFFFFF;
}

.dropdown-sort:hover .dropdown-content{
	display: block;
	margin: auto;
	max-width: 160px;
	position: relative;
}