<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Following</title>
    <link rel="stylesheet" th:href="@{/css/user/following.css}"/>
    <link rel="stylesheet" th:href="@{/css/ffr.css}"/>
    <script th:src="@{/js/navigation-bar.js}"></script>
</head>
<body style="background-color:#f7f3f3;">
<nav-bar th:attr="user=${navUser}"></nav-bar>
<div style="overflow:hidden">
    <div style="float: left">
        <div class="topFollowed">
            <h3>Top Followed Users:</h3>
            <a th:href="@{/user/__${user.getName()}__}"  th:text="${user.getName()}" th:each="user : ${topFollowedUsers}"></a>
        </div>
    </div>
    <div class="following">
        <h2>Your Follows:</h2>
        <p th:if="${following.isEmpty()}">You are not following anyone.</p>
        <div th:each="user : ${following}" class="followingUserBox">
            <a th:href="@{/user/__${user.getName()}__}" th:text="${user.getName()}" class="ffr-button"></a>
            <form th:action="@{/unfollow/__${user.getName()}__}" method="post">
                <button type="submit" class="ffr-button">Unfollow</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>