<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/ffr.css}"/>
</head>
<tbody>

    <a href="/product" class="ffr-button">Add new product</a><br><br/>
    <a href="/chains" class="ffr-button">Browse by Chain</a><br><br/>
    <tr th:if="${products.empty}">
        <td colspan="2"> No Products Available </td>
    </tr>
    <tr th:each="product : ${products}">
        <td><a th:href="'/product/'+${product.id}"><h3 th:text="${product.name}"></h3></a></td>
        <td>Link: <span th:text="${product.link}"></span></td><br/>
        <td>Description: <span th:text="${product.description}"></span></td><br/>
        <td>Product Type: <span th:text="${product.type.text}"></span></td><br/>
        <td>Chain: <span th:text="${product.chain.text}"></span></td><br/>
        <br/>
    </tr>
</tbody>
</html>