<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<tbody>
    <h1>Link: <span th:text="${user.name}"></span></h1><br/>
    <h3>Following:</h3><br/>
    <tr th:each="followee : ${user.following}">
        <td><a th:href="'/user/'+${followee.id}"><span th:text="${followee.name}"></span></a></td><br/>
    </tr>
    <tr class="row" th:unless="${user.reviews.isEmpty()}" th:each="review : ${user.reviews}">
        <td class="row-user" th:text="${review.getUser() != null} ? ${review.getUser().getName()} : 'Unknown'"></td>
        <td class="row-rating" th:text="${review.getRating()}"></td>
        <td class="row-text" th:text="${review.getText()}"></td>
    </tr>
</html>