<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/js/navigation-bar.js}"></script>
    <link rel="stylesheet" th:href="@{/css/ffr.css}"/>
</head>
<tbody>
    <nav-bar th:attr="user=${navUser}"></nav-bar>
    <h1 th:text="${dos!=null} ? ${user.name + '  --  separation: '+dos} : ${user.name}"></h1>
    <form th:action="'/follow/'+${user.name}" method="post" th:unless="${viewer ==null ||viewer.getFollowing().contains(user) || user.name==viewer.name}">
        <button type="submit">
            Follow
        </button>
    </form>

    <form th:action="'/unfollow/'+${user.name}" method="post" th:if="${viewer !=null && viewer.getFollowing().contains(user) && user.name!=viewer.name}">
        <button type="submit">
            Unfollow
        </button>
    </form>

    <a th:if="${viewer != null && user.name==viewer.name}" th:href="@{/user/__${user.getName()}__/following}" class="ffr-button">My Follows</a>

    <h3>Followers:</h3>
    <tr class="row" th:unless="${user.getFollowers().isEmpty()}" th:each="followee : ${user.getFollowers()}">
        <td class="row-user" ><a th:href="'/user/'+${followee.name}"><span th:text="${followee.name}"></span></a></td><br/>
    </tr>
    <h3>Reviews:</h3>
    <tr class="row" th:unless="${user.reviews.isEmpty()}" th:each="review : ${user.reviews}">
        <td class="row-product"><a th:href="'/product/'+${review.getProduct().getId()}"><span th:text="${review.getProduct() != null} ? ${review.getProduct().getName()} : 'Unknown'"></span></a></td>
        <td class="row-rating" th:text="${review.getRating()}"></td>
        <td class="row-text" th:text="${review.getText()}"></td><br/>
    </tr>
</html>